<header class="ui page grid topo">
    <div class="row">
        <div class="column">
            <h2 class="ui header">
                <i class="search icon"></i>
                <div class="content">
                    AngularJS iTunes Artwork Finder
                    <p class="sub header">
                        <i class="code icon"></i> with <i class="heart icon"></i> by <a href="https://github.com/marcio/angulartunes-artwork-finder"><b>Crazy Front</b></a>
                    </p>
                </div>
            </h2>
        </div>
    </div>
    <div class="ui divider"></div>
</header>

<form ng-submit="vm.search()">
    <select ng-model="vm.country">
        <option ng-repeat="country in vm.countries | orderBy:'value'" value="{{country.key}}">{{country.value}}</option>
    </select>

    <select ng-model="vm.entity">
        <option ng-repeat="entity in vm.entities | orderBy:'label'" value="{{entity.id}}"> {{entity.label}} </option>
    </select>

    <input type="text" ng-model="vm.term">
    <button>Buscar</button>
</form>

<table>
    <tbody ng-if="vm.artworks.length > 0">
        <tr ng-repeat="artwork in vm.artworks">
            <td>
                <img ng-src="{{artwork.artworkUrl60}}"/>
            </td>
            <td>
                {{artwork.trackName}}
            </td>
            <td>
                {{artwork.shortDescription}}
            </td>
        </tr>
    </tbody>
</table>

<div id="app" class="ui page grid">
</div>