<header class="ui page grid topo">
    <div class="row">
        <div class="column">
            <h2 class="ui header">
                <i class="search icon"></i>
                <div class="content">
                    AngularJS iTunes Artwork Finder
                    <p class="sub header">
                        <i class="code icon"></i> with <i class="heart icon"></i> by <a href="https://github.com/marcio/angulartunes-artwork-finder"><b>Crazy Front</b></a>
                    </p>
                </div>
            </h2>
        </div>
    </div>
    <div class="ui divider"></div>
</header>


<power-select>
    <input type="hidden" name="country" ng-model="vm.country">
    <i class="dropdown icon"></i>
    <div class="default text">Select Country</div>
    <div class="menu">
        <div class="item" data-value="ad"><i class="ad flag"></i>Andorra</div>
    </div>
</power-select>


<p>Country: {{vm.country}}</p>

<div id="app" class="ui page grid"></div>

<h1>Bem vindo, {{vm.nome}}</h1>

<form>
    <label for="texto">Texto</label>
    <input id="texto" type="text" name="texto" ng-model="vm.textoDigitado">
    <button ng-click="vm.adicionaTexto()">Adicionar</button>
    <button ng-click="vm.limparLogs()">Limpar</button>
</form>

<ul>
    <li ng-repeat="texto in vm.logs track by $index"><a ng-click="vm.removerItem($index)"> &times; </a>
        <span ng-class="{duplicatedText : vm.indicePintado === $index}">
            {{texto}}
        </span>
    </li>
</ul>
